.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.sm {
  padding: 5px;
}

.md {
  padding: 8px;
}

.lg {
  padding: 12px;
}

.xl {
  padding: 15px;
}

.base path,
.base circle {
  fill: var(--color-font-base);
}

.base line,
.base rect {
  stroke: var(--color-font-base);
}

.highlight path,
.highlight circle {
  fill: var(--color-font-highlight);
}

.highlight line,
.highlight rect {
  stroke: var(--color-font-highlight);
}

.muted path,
.muted circle {
  fill: var(--color-font-muted);
}

.muted line,
.muted rect {
  stroke: var(--color-font-muted);
}

.primary path,
.primary circle {
  fill: var(--color-primary);
}

.primary line,
.primary rect {
  stroke: var(--color-primary);
}

.inverted path,
.inverted circle {
  fill: var(--color-primary-inverted);
}

.inverted line,
.inverted rect {
  stroke: var(--color-primary-inverted);
}

.icon rect:global(.transparent) {
  fill: var(--color-base-transparent) !important;
}

.basis {
  background: var(--color-gray-100);
  border-radius: var(--border-radius-full);
}

.transparent {
  background: var(--color-base-transparent);
}

.high {
  background: var(--color-primary-highlight);
  border-radius: var(--border-radius-full);
}

.soft {
  background: var(--color-primary-muted);
  border-radius: var(--border-radius-full);
}

.invert {
  border: var(--picture-border);
  background: var(--color-font-inverted);
  border-radius: var(--border-radius-full);
  box-shadow: var(--box-shadow-sm);
}

.distinc {
  background: var(--color-yellow-100);
  border-radius: var(--border-radius-full);
  box-shadow: var(--box-shadow-sm);
}

.isClickable {
  cursor: pointer;
}
