.picture {
  user-select: none;
}

.picture img {
  display: block;
  width: 100%;
}

.isRounded img {
  border-radius: var(--border-radius-full);
}

.withBorder img {
  border: var(--picture-border);
}
